# Python virtual environment
.venv/
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/
*.egg

# PyInstaller
*.spec

# Logs
*.log

# Local development settings
.env
.idea/
.vscode/

# OS specific files
.DS_Store
Thumbs.db

# Large files
*.GIF
